@font-face {
  font-family: League Gothic;
  src: url('../../fonts/LeagueGothic-Regular-VariableFont_wdth.ttf'), format('truetype');
}

@font-face {
  font-family: Lucida;
  src: url('../../fonts/LTYPE.TTF'), format('truetype');
}

@font-face {
  font-family: Lucida Bold;
  src: url('../../fonts/LTYPEB.TTF'), format('truetype');
}

:root {
  --defaultBack: #efedea;
  --textPrimary: #000000;
  --primary: #2196f3;
}
