
.container {
    padding: calc(var(--mui-spacing) * 4) calc(var(--mui-spacing) * 4) 0 calc(var(--mui-spacing) * 4);
    container-type: inline-size;
    container-name: header;
    text-wrap: balance;
}

.animationsWrapper {
    overflow: hidden;
}

.textWrapper {
    padding: 0;
    display: flex;
    overflow-x: hidden;
    font-family: Orange Gummy, NK57 Monospace Rg, Roboto Light, Ubuntu Light, Ubuntu, monospace;
    white-space: nowrap;
    justify-content: flex-start;
    width: 100%;
}

.text {
    padding: 0;
    display: flex;
    flex-shrink: 1;
    width: 100%;
}

.boxWrapper {
    height: auto;
    width: 8rem;
}

.explosion {
    position: absolute;
    top: 62px;
    left: 66px;
    width: 120px;
    height: auto;
    transition: opacity 0.8s ease-in-out;
    z-index: 2;
}

.enterIcon {
    position: absolute;
    top: -40px;
    left: -700px;
    z-index: 2;
    width: 4rem;
    height: auto;
    offset-path: path('m 260,212.3 c 93.2,-20.8 188.1,-35.7 283.8,-35.4 163.4,-4.2 328.3,-4.2 489.2,28 43,13.2 85,38.7 102,82.4 16,30.9 23,67.6 9,101 -8,33.9 -30,63.8 -63,76.3 -61,31.4 -131.7,24.9 -198,25.5 -53,-2 -194.8,11 -246.3,-3.9 -48.1,-14.3 -139.4,-45 -139.4,-88.4 0.3,-53.3 114.1,-97.2 134.6,-106.9 21.7,-8.8 88.1,-28.8 158.6,-32.8 13.6,-0.1 25.7,-0.2 39.4,-1.4');
    offset-rotate: 0deg;
    transition: offset-distance 1s ease-out, opacity 0.7s ease-in, transform 1.2s ease-out;
}

@container (width > 580px) {

    .text {
        font-size: clamp(1rem, 3.75cqw + 0.5rem, 5rem);
    }

    .textWrapper {
        height: 4rem;
        line-height: 4rem;
    }

    .boxWrapper {
        height: 16rem;
        width: 16rem;
    }

    .explosion {
        top: 137px;
        left: 132px;
        width: 200px;
    }

    .enterIcon {
        width: 6rem;
        left: -350px;
        top: -20px;
    }
}

@container (width > 900px) {
    .text {
        font-size: clamp(1rem, 4.25cqw + 0.5rem, 5rem);
        margin-inline-start: 1.5rem;
    }

    .textWrapper {
        height: 5rem;
        line-height: 5rem;
    }

    .boxWrapper {
        height: 20rem;
        width: 20rem;
    }

    .explosion {
        top: 177px;
        left: 162px;
        width: 240px;
    }

    .enterIcon {
        width: 10rem;
        left: -175px;
        top: 47px;
    }
}

@container (width > 1200px) {
    .text {
        font-size: clamp(1rem, 4.5cqw + 0.5rem, 5rem);

    }

    .textWrapper {
        height: 6rem;
        line-height: 6rem;
    }

    .boxWrapper {
        height: 28rem;
        width: 28rem;
    }

    .explosion {
        top: 207px;
        left: 202px;
        width: 390px;
    }

    .enterIcon {
        top: 132px;
        left: 142px;
        width: 14em;
    }
}

@container (width > 1500px) {
    .text {
        font-size: clamp(1rem, 5cqw + 0.5rem, 5rem);

    }

    .textWrapper {
        height: 7rem;
        line-height: 7rem;
    }

    .boxWrapper {
        height: 32rem;
        width: 32rem;
    }

    .explosion {
        top: 227px;
        left: 222px;
        width: 450px;
    }

    .enterIcon {
        top: 202px;
        left: 232px;
        width: 18em;
    }
}

@container (width > 1600px) {
    .text {
        font-size: clamp(1rem, 5cqw + 0.5rem, 6rem);;
    }

    .textWrapper {
        height: 7rem;
        line-height: 7rem;
    }

    .boxWrapper {
        height: 36rem;
        width: 36rem;
    }

    .explosion {
        top: 247px;
        left: 262px;
        width: 490px;
    }

    .enterIcon {
        top: 242px;
        left: 332px;
        width: 20em;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes shake {
    1.25%,
    11.25% {
        transform: rotateZ(-0.75deg);
    }
    2.5%,
    10% {
        transform: rotateZ(1.5deg);
    }
    3.75%,
    6.75%,
    8.75% {
        transform: rotateZ(-3deg);
    }
    5%,
    7.5% {
        transform: rotateZ(3deg);
    }
    11.5% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}