@layer components {

    :root {
        --color: var(--text-secondary);
        --color-hover: var(--text-primary);

        --background-hover: var(--primary-x-light);
    }

    .appComponentStyles {
        font-size: 1.25rem;
        border-radius: calc(var(--radius-sm) * 2.5);
        height: fit-content;
        color: var(--color);
        background-color: var(--secondary-x-light);

        &:hover {
            border-color: var(--primary-x-light);
            color: var(--color-hover);
            background-color: var(--background-hover);
        }

        &:active {
            border-color: black;
        }
    }

    .buttonIcon {
        height: auto;
        width: 1.25rem;
        color: inherit;

        &:hover {
            color: inherit;
            background-color: inherit;
        }
    }

    .buttonLabel {
        color: inherit;

        &:hover {
            color: inherit;
            background-color: inherit;
        }
    }
}
