@font-face {
  font-family: 'Jersey25';
  src: url('../../fonts/Jersey25-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Jersey25-Charted';
  src: url('../../fonts/Jersey25Charted-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Pixel-Game';
  src: url('../../fonts/Pixel-Game.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Press-Start';
  src: url('../../fonts/PressStart2P-Regular.ttf') format('truetype');
  font-display: swap;
}

* {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #404040 inset !important;
  -webkit-text-fill-color: #e1e5dc !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #e1e5dc;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}
