:root {
  --defaultBack: #333539;
  --textPrimary: #dddad8;
  --primary: #1976d2;
}

* {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  letter-spacing: 2.1px;
  word-spacing: 2.1px;
}

#root {
  width: 100%;
  height: auto;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px var(--defaultBack) inset !important;
  -webkit-text-fill-color: var(--textPrimary) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--textPrimary);
}

input::-webkit-inner-spin-button,
& input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.floater::after {
  content: '';
  display: table;
  clear: both;
}

pre {
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}
