@layer base {
    @font-face {
        font-family: League Gothic;
        src: url(/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf) format('truetype');
        font-display: swap;
    }

    @font-face {
        font-family: Lucida;
        src: url(/fonts/LTYPE.ttf) format('truetype');
        font-display: swap;
    }

    @font-face {
        font-family: Lucida Bold;
        src: url(/fonts/LTYPEB.ttf) format('truetype');
        font-display: swap;
    }

    @font-face {
        font-family: Orange Gummy;
        src: url(/fonts/orange_gummy.ttf) format('truetype');
    }

    @property --primary-main {
        syntax: "<color>";
        inherits: false;
        initial-value: oklch(0.8789 0.180077 93.5768);
    }

    @property --secondary-main {
        syntax: "<color>";
        inherits: false;
        initial-value: oklch(0.4445 0.2043 328.36);
    }

    @property --text-primary {
        syntax: "<color>";
        inherits: false;
        initial-value: oklch(0.173 0 0);
    }

    @property --text-secondary {
        syntax: "<color>";
        inherits: false;
        initial-value: oklch(0.2393 0 0);
    }

    @property --text-primary-light {
        syntax: "<color>";
        inherits: false;
        initial-value: #eef0ff;
    }

    @property --text-secondary-light {
        syntax: "<color>";
        inherits: false;
        initial-value: #bbc0cc;
    }

    @property --primary-dark {
        syntax: "<color>";
        inherits: false;
        initial-value: oklch(0.8016 0.1705 73.27)
    }

    @property --text-secondary-light-button {
        syntax: "<color>";
        inherits: false;
        initial-value: oklch(0.5375 0.0177 267.76);
    }

    @property --primary-dark-background {
        syntax: "<color>";
        inherits: false;
        initial-value: oklch(0.92 0.15 300)
    }
    /*oklch(0.35 0.15 300)*/
    @property --secondary-dark {
        syntax: "<color>";
        inherits: false;
        initial-value: oklch(0.4445 0.2043 328.36);
    }

    @property --glow-deg {
        syntax: "<angle>";
        inherits: true;
        initial-value: -180deg;
    }

    @property --angle {
        syntax: '<angle>';
        initial-value: 0deg;
        inherits: true;
    }

    @property --background {
        syntax: "<color>";
        inherits: false;
        initial-value: #404040;
    }

    @property --background-gradient-light {
        syntax: "<color>";
        inherits: false;
        initial-value: oklch(0.9346 0.0027 286.35 / 14.12%);
    }

    @property --background-gradient-dark {
        syntax: "<color>";
        inherits: false;
        initial-value: oklch(0.173 0 0 / 21.96%);
    }

    :root {

        --background-gradient: linear-gradient(225deg, var(--background-gradient-light) 0%, transparent 80%),
        linear-gradient(45deg, var(--background-gradient-dark) 0%, transparent 80%);

        --spacing: 0.25rem;
        --padding-xs: calc(var(--spacing));
        --padding-sm: calc(var(--spacing) * 2);
        --padding-md: calc(var(--spacing) * 4);
        --padding-lg: calc(var(--spacing) * 6);
        --padding-xl: calc(var(--spacing) * 8);

        --padding-block-xs: calc(var(--spacing));
        --padding-block-sm: calc(var(--spacing) * 2);
        --padding-block-md: calc(var(--spacing) * 4);
        --padding-block-lg: calc(var(--spacing) * 6);
        --padding-block-xl: calc(var(--spacing) * 8);

        --padding-inline-xs: calc(var(--spacing));
        --padding-inline-sm: calc(var(--spacing) * 2);
        --padding-inline-md: calc(var(--spacing) * 4);
        --padding-inline-lg: calc(var(--spacing) * 6);
        --padding-inline-xl: calc(var(--spacing) * 8);

        --margin-xs: calc(var(--spacing));
        --margin-sm: calc(var(--spacing) * 2);
        --margin-md: calc(var(--spacing) * 4);
        --margin-lg: calc(var(--spacing) * 6);
        --margin-xl: calc(var(--spacing) * 8);

        --margin-block-xs: calc(var(--spacing));
        --margin-block-sm: calc(var(--spacing) * 2);
        --margin-block-md: calc(var(--spacing) * 4);
        --margin-block-lg: calc(var(--spacing) * 6);
        --margin-block-xl: calc(var(--spacing) * 8);

        --margin-inline-xs: calc(var(--spacing));
        --margin-inline-sm: calc(var(--spacing) * 2);
        --margin-inline-md: calc(var(--spacing) * 4);
        --margin-inline-lg: calc(var(--spacing) * 6);
        --margin-inline-xl: calc(var(--spacing) * 8);

        --radius-xs: calc(var(--spacing) * 0.5);
        --radius-sm: var(--spacing);
        --radius-md: calc(var(--spacing) * 2);
        --radius-lg: calc(var(--spacing) * 3);
        --radius-xl: calc(var(--spacing) * 4);
    }
}
