@font-face {
    font-family: League Gothic;
    src: url(/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Lucida;
    src: url(/fonts/LTYPE.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Lucida Bold;
    src: url(/fonts/LTYPEB.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Orange Gummy;
    src: url(/fonts/orange_gummy.ttf) format('truetype');
}

@property --primary-x-light {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(0.9174 0.1486 97.43);
}

@property --primary-light {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(89.8% 0.191 88.5);
}

@property --primary-main {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(0.9003 0.1712 96.61);
}

@property --primary-dark {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(0.7278 0.1492 93.96);
}

@property --primary-x-dark {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(0.6095 0.125099 94.7306);
}

/* Secondary Category */
@property --secondary-x-light {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(0.6436 0.1829 348.29);
}

@property --secondary-light {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(0.5849 0.2107 351.36);
}

@property --secondary-main {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(0.5521 0.2254 356.98);
}

@property --secondary-dark {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(41% 0.194 342.3);
}

@property --secondary-x-dark {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(34.2% 0.153 342.3);
}

/* Secondary-2 Category */
@property --secondary-2-x-light {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(69% 0.089 198);
}

@property --secondary-2-light {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(62.1% 0.096 198);
}

@property --secondary-2-main {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(58% 0.1 198);
}

@property --secondary-2-dark {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(46.6% 0.081 198);
}

@property --secondary-2-x-dark {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(37.5% 0.065 198);
}

/* Complement Category */
@property --complement-x-light {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(49.9% 0.165 277.5);
}

@property --complement-light {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(41.4% 0.193 281.3);
}

@property --complement-main {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(34.6% 0.24 285.9);
}

@property --complement-dark {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(25.9% 0.18 285.9);
}

@property --complement-x-dark {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(20% 0.138 285.9);
}

@property --text-primary {
    syntax: "<color>";
    inherits: false;
    initial-value: oklch(0.2588 0.0073 106.9);
}

@property --text-primary-dark {
    syntax: "<color>";
    inherits: false;
    initial-value: oklch(0.958 0.0202 279.94);
}

@property --text-secondary {
    syntax: "<color>";
    inherits: false;
    initial-value: oklch(0.3393 0 0);
}

@property --text-secondary-dark {
    syntax: "<color>";
    inherits: false;
    initial-value: oklch(0.8075 0.0177 267.76);
}

@property --glow-deg {
    syntax: "<angle>";
    inherits: true;
    initial-value: -180deg;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: true;
}

@property --background {
    syntax: "<color>";
    inherits: false;
    initial-value: oklch(0.2588 0.0073 106.9);
}

@property --background-gradient-light {
    syntax: "<color>";
    inherits: false;
    initial-value: oklch(0.9346 0.0027 286.35 /21.96%);
}

@property --background-gradient-dark {
    syntax: "<color>";
    inherits: false;
    initial-value: oklch(0.173 0 0 / 21.96%);
}

@layer base {
    :root {

        --background-gradient: linear-gradient(225deg, var(--background-gradient-light) 2%, var(--background-gradient-dark) 99%);

        --spacing: 0.25rem;
        --padding-xs: calc(var(--spacing));
        --padding-sm: calc(var(--spacing) * 2);
        --padding-md: calc(var(--spacing) * 4);
        --padding-lg: calc(var(--spacing) * 6);
        --padding-xl: calc(var(--spacing) * 8);

        --padding-block-xs: calc(var(--spacing));
        --padding-block-sm: calc(var(--spacing) * 2);
        --padding-block-md: calc(var(--spacing) * 4);
        --padding-block-lg: calc(var(--spacing) * 6);
        --padding-block-xl: calc(var(--spacing) * 8);

        --padding-inline-xs: calc(var(--spacing));
        --padding-inline-sm: calc(var(--spacing) * 2);
        --padding-inline-md: calc(var(--spacing) * 4);
        --padding-inline-lg: calc(var(--spacing) * 6);
        --padding-inline-xl: calc(var(--spacing) * 8);

        --margin-xs: calc(var(--spacing));
        --margin-sm: calc(var(--spacing) * 2);
        --margin-md: calc(var(--spacing) * 4);
        --margin-lg: calc(var(--spacing) * 6);
        --margin-xl: calc(var(--spacing) * 8);

        --margin-block-xs: calc(var(--spacing));
        --margin-block-sm: calc(var(--spacing) * 2);
        --margin-block-md: calc(var(--spacing) * 4);
        --margin-block-lg: calc(var(--spacing) * 6);
        --margin-block-xl: calc(var(--spacing) * 8);

        --margin-inline-xs: calc(var(--spacing));
        --margin-inline-sm: calc(var(--spacing) * 2);
        --margin-inline-md: calc(var(--spacing) * 4);
        --margin-inline-lg: calc(var(--spacing) * 6);
        --margin-inline-xl: calc(var(--spacing) * 8);

        --radius-xs: calc(var(--spacing) * 0.5);
        --radius-sm: var(--spacing);
        --radius-md: calc(var(--spacing) * 2);
        --radius-lg: calc(var(--spacing) * 3);
        --radius-xl: calc(var(--spacing) * 4);
    }
}
