@keyframes shake {
  1.25%,
  11.25% {
    transform: rotateZ(-0.75deg);
  }
  2.5%,
  10% {
    transform: rotateZ(1.5deg);
  }
  3.75%,
  6.75%,
  8.75% {
    transform: rotateZ(-3deg);
  }
  5%,
  7.5% {
    transform: rotateZ(3deg);
  }
  11.5% {
    transform: rotateZ(0deg);
  }
  100% {
    transition: rotateZ(0deg);
  }
}

@media screen and (max-width: var(--mui-breakpoint-md)) {
  .landingWrapper {
    padding: calc(var(--mui-spacing) * 4) 0 0 calc(var(--mui-spacing) * 4);
  }
}

.landingWrapper {
  flex: 1;
  display: 'flex';
  position: 'relative';
  overflow: 'hidden';
  width: '100%';
}
