@import url(./colors-and-fonts.css);

@property --clr-1 {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffd300;
}

@property --clr-2 {
  syntax: '<color>';
  inherits: true;
  initial-value: #ff3d00;
}

@property --text-primary {
  syntax: '<color>';
  inherits: true;
  initial-value: #eef0ff;
}

@property --text-secondary {
  syntax: '<color>';
  inherits: true;
  initial-value: #bbc0cc;
}

@property --clr-1-drk {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffaa00;
}

@property --clr-2-drk {
  syntax: '<color>';
  inherits: true;
  initial-value: #af320b;
}

@property --background-default {
  syntax: '<color>';
  inherits: true;
  initial-value: #323232;
}

@property --glow-deg {
  syntax: '<angle>';
  inherits: true;
  initial-value: -180deg;
}

#root {
  isolation: isolate;
}

&::-webkit-scrollbar-thumb {
  background-color: var(--clr-1-drk);
  border-radius: 2px;
}

&:-webkit-autofill,
&:-webkit-autofill:hover,
&:-webkit-autofill:focus,
&:-webkit-autofill:active {
  -webkit-text-fill-color: #101010 !important;
  --webkit-box-shadow: 0 0 0 100px var(--text-secondary) inset !important;
  -webkit-background-clip: text;
}

input::-webkit-inner-spin-button,
& input::-webkit-outer-spin-button {
  -webkit-appearance: 'none';
  margin: 0;
}

pre {
  max-width: '100%';
  white-space: 'pre-wrap';
  word-wrap: 'break-word';
}
