@layer reset, base, components, app;
@import url(./colors-and-fonts.css);

@layer reset {

    *, *::before, *::after {
        box-sizing: border-box;
    }


    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }


    :not(dialog) {
        margin: 0;
    }


    @media (prefers-reduced-motion: no-preference) {
        html {
            scroll-behavior: smooth;
        }
    }


    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        min-height: 100svh;
    }


    h1, h2, h3, h4, h5, h6,
    button, input, label, select, textarea {
        line-height: 1.5;
    }


    h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
    }

    p {
        text-wrap: pretty;
    }


    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
        height: auto;
    }

    textarea:not([rows]) {
        min-height: 10em;
    }


    ul[role="list"], ol[role="list"] {
        list-style: none;
        padding-inline-start: 0;
    }


    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }


    :target {
        scroll-margin-block: 5ex;
    }

    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }

}

@layer base {
    #root {
        isolation: isolate;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: var(--background);
        background-image: var(--background-gradient);

    }


    &::-webkit-scrollbar-thumb {
        background-color: var(--secondary-drk);
        border-radius: 2px;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color: #101010 !important;
        --webkit-box-shadow: 0 0 0 100px var(--text-secondary) inset !important;
        -webkit-background-clip: text;
    }

    input::-webkit-inner-spin-button,
    & input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    pre {
        max-width: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .material-symbols {
        height: 100%;
        width: 100%;
        font-variation-settings: 'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24; /* Optical size in dp/px (range 20 to 48) */
    }
}